body {
    background-color: rgb(3, 3, 3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: auto;
}
div.image_back {
    display: flex;
    justify-content: center;
    align-items: top;
    background-image: url(wall.jpg);
    height: 100%;
}
div.back{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}
div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.center_logo {
    width: 100%;
}
div.intro_text {
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    text-align: justify;
    width: 900px;
}
.intro_text {
    font-size: 22px;
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
div.intro_back {
    display: flex;
    justify-content: center;
    width: 100%;
}
#logo {
    display: flex;
    justify-content: center;
    vertical-align: top;
    max-height: 350px;
    max-width: 350px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
}
.link {
    margin: 10px; 
}
#git {
    display: flex;
    max-height: 50px;
    max-width: 50px;
}