body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(69, 69, 69);
    height: 100vh;
    margin: 0;
    border-inline: 5px solid white;
}
div .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-height: 350px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    vertical-align: top;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}