body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    height: 197vh;
    text-align: center;
    margin: 0;
    overflow: auto;
}
div .back {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    display: flex;
    background-image: url(wall.jpg);
    justify-content: center;
    align-items: top;
    text-align: center;
    height: 100%;
}
div .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
div .center_logo {
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
}
img {
    max-height: 350px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    vertical-align: top;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}